* {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%; }

html, body {
  width: 100%;
  height: 100%;
  color: #1b1b1b;
  margin: 0;
  padding: 0; }

body {
  font: normal 100%/1.2 "NanumBarunGothic"; letter-spacing: -0.05em;
	}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, select, label, img, figure {
  margin: 0;
  padding: 0; }

button {
    background: none;
    border: 0;
	font-size:1em;
	outline:none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {outline:none}
input,textarea,select {outline:0; outline:none; border:0; border:none; vertical-align:middle; font-size:1em; font-family: 'Nanum Squarebold'; color:#000}

table {
  border-collapse: collapse;
  width: 100%;
  background: #fff;
  margin: 0;
  padding: 0; }

fieldset, img, table, button {
  border: 0; }

ul, ol, li {
  list-style: none; }

img {
  vertical-align: middle; }

caption, legend {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: bold; }

address, em {
  font-style: normal;
  padding: 0;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, navi, section {
  display: block; }

legend, hr {
  display: none;
  height: 0;
  font-size: 0; }

a {
  color: #111111;
  text-decoration: none; }

p {
  padding: 0; }

button {
  color: #555;
  text-decoration: none;
  cursor: pointer; }

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: local('Nanum Barun Gothic Regular'), local('Nanum Barun Gothic-Regular'), local('NanumBarunGothic Regular');
 src: url("../font/NanumBarunGothic.eot");
 src: url("../font/NanumBarunGothic.eot?#iefix") format('embedded-opentype'),
url("../font/NanumBarunGothic.woff") format('woff'),
url("../font/NanumBarunGothic.ttf") format('truetype');
}

@font-face {
 font-family: 'SpoqaHanSansNeoThin';
 font-style: normal;
 font-weight: 5;
 src: local('SpoqaHanSansNeoThin');
 src: url("../font/SpoqaHanSansNeo-Thin.eot");
 src: url("../font/SpoqaHanSansNeo-Thin.eot?#iefix") format('embedded-opentype'),
url("../font/SpoqaHanSansNeo-Thin.otf") format('otf'),
url("../font/SpoqaHanSansNeo-Thin.woff") format('woff'),
url("../font/SpoqaHanSansNeo-Thin.woff2") format('woff2'),
url("../font/SpoqaHanSansNeo-Thin.ttf") format('truetype');
}
@font-face {
 font-family: 'SpoqaHanSansNeoLight';
 font-style: normal;
 font-weight: 10;
 src: local('SpoqaHanSansNeoLight');
 src: url("../font/SpoqaHanSansNeo-Light.eot");
 src: url("../font/SpoqaHanSansNeo-Light.eot?#iefix") format('embedded-opentype'),
url("../font/SpoqaHanSansNeo-Light.otf") format('otf'),
url("../font/SpoqaHanSansNeo-Light.woff") format('woff'),
url("../font/SpoqaHanSansNeo-Light.woff2") format('woff2'),
url("../font/SpoqaHanSansNeo-Light.ttf") format('truetype');
}
@font-face {
 font-family: 'SpoqaHanSansNeoRegular';
 font-style: normal;
 font-weight: 20;
 src: local('SpoqaHanSansNeoRegular');
 src: url("../font/SpoqaHanSansNeo-Regular.eot");
 src: url("../font/SpoqaHanSansNeo-Regular.eot?#iefix") format('embedded-opentype'),
url("../font/SpoqaHanSansNeo-Regular.otf") format('otf'),
url("../font/SpoqaHanSansNeo-Regular.woff") format('woff'),
url("../font/SpoqaHanSansNeo-Regular.woff2") format('woff2'),
url("../font/SpoqaHanSansNeo-Regular.ttf") format('truetype');
}
@font-face {
 font-family: 'SpoqaHanSansNeoMedium';
 font-style: normal;
 font-weight: 30;
 src: local('SpoqaHanSansNeoMedium');
 src: url("../font/SpoqaHanSansNeo-Medium.eot");
 src: url("../font/SpoqaHanSansNeo-Medium.eot?#iefix") format('embedded-opentype'),
url("../font/SpoqaHanSansNeo-Medium.otf") format('otf'),
url("../font/SpoqaHanSansNeo-Medium.woff") format('woff'),
url("../font/SpoqaHanSansNeo-Medium.woff2") format('woff2'),
url("../font/SpoqaHanSansNeo-Medium.ttf") format('truetype');
}
@font-face {
 font-family: 'SpoqaHanSansNeoBold';
 font-style: normal;
 font-weight: 60;
 src: local('SpoqaHanSansNeoBold');
 src: url("../font/SpoqaHanSansNeo-Bold.eot");
 src: url("../font/SpoqaHanSansNeo-Bold?#iefix") format('embedded-opentype'),
url("../font/SpoqaHanSansNeo-Bold.otf") format('otf'),
url("../font/SpoqaHanSansNeo-Bold.woff") format('woff'),
url("../font/SpoqaHanSansNeo-Bold.woff2") format('woff2'),
url("../font/SpoqaHanSansNeo-Bold.ttf") format('truetype');
}