@charset "utf-8";
/* CSS Document */
*{box-sizing:border-box; font-family: 'SpoqaHanSansNeoRegular';}

.bold {font-weight:bold}
.container {
	min-width:1280px; 
	background: #fff;
}

/* 헤더 */

.header {
	position:fixed; 
	top:0; left:0; right:0; 
	height:80px; 
	z-index: 99;
	mix-blend-mode: difference;
}
.header_inner {position: relative; height: 80px; width: 1280px; margin:0 auto}
.header_inner .logo {position: absolute; top:40px; visibility: visible;}
.header_inner .nav {position: absolute; top:80px; left: 800px;}
.header_inner .nav > ul {overflow: hidden; margin:0; padding:0}
.header_inner .nav > ul > li {float: left; list-style: none;}
.header_inner .nav > ul > li > a {text-decoration: none; color:#fff; }
.header_inner .nav > ul > li + li {margin-left:44px}

.btnset {display:inline-block; z-index:100; position:relative;}
.header_inner .btnset .btn {
	position:absolute;
	height:24px; 
	display:inline-block;
	background:url('../img/btn.png') no-repeat 0 0;
	background-size:auto 24px;
	vertical-align:middle;
	top:62px;
}
.header_inner .btnset .btn.insta {
	width:24px;
	background-position:0 0;
	left:1265px;
}
.header_inner .btnset .btn.mail {
	width:31px;
	background-position:-24px 0;
	left:1218px;
}

/* 페이지0 */

.page.p0 { 
	height:1686px; 
}
.page.p0 .bgwrap {
	height: 1686px;
	width: 100%;
	min-width: 1280px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.page.p0 .bgwrap .bgset {
	width: 100%;
	height: 2458px;
	position: absolute;
	top: 0;
	left: 0;
}
.page.p0 .bgwrap .bgset .bg {
	width: 120%;
	height: 80%;
	position: absolute;
	margin-left: calc(100% / -11);
	margin-top: calc(100% / -11);
	mix-blend-mode: multiply;
}
.page.p0 .bgwrap .bgset .bg.t1 {
	background: url('../img/layer1.png') no-repeat center;
	background-size: cover;
	transform:
    translateX(calc(var(--mouse-x) * 0.07px))
    translateY(calc(var(--mouse-y) * 0.07px));
	z-index: 3;
}
.page.p0 .bgwrap .bgset .bg.t2 {
	background: url('../img/layer2.png') no-repeat center;
	background-size: cover;
	transform:
    translateX(calc(var(--mouse-x) * 0.05px))
    translateY(calc(var(--mouse-y) * 0.05px));
	z-index: 2;
}
.page.p0 .bgwrap .bgset .bg.t3 {
	background: url('../img/layer3.png') no-repeat center;
	background-size: cover;
	transform:
    translateX(calc(var(--mouse-x) * 0.02px))
    translateY(calc(var(--mouse-y) * 0.02px));
}
.page.p0 .bgwrap .bgset .bg.t4 {
	background: url('../img/layer4.png') no-repeat center;
	background-size: cover;
	transform:
    translateX(calc(var(--mouse-x) * 0.01px))
    translateY(calc(var(--mouse-y) * 0.01px));
}

.page.p0 .cont_outer {
	height: 920px; 
}
.page.p0 .cont_outer .cont_inner {
	position:relative;
	left:50%;
	top:50%;
	height:620px; 
	width:1280px;
	margin-top: -310px;
	margin-left: -640px;
	overflow: hidden;
}
.page.p0 .cont_outer .cont_inner .section .stxt {
	position:absolute;
	display:inline-block;
	text-align:center;
	transition: 1.3s ease-in-out;
	z-index:100;
}
.page.p0 .cont_outer .cont_inner .section .stxt.main .stxt_name {
	position:absolute;
	top:7em;
	left:0;
	right:0;
	font-size: 0.4em;
	letter-spacing: 0.5em;
	font-weight: 100;
}
.page.p0 .cont_outer .cont_inner .section .stxt .stxt_sub {
	position:absolute;
	top:7em;
	left:0;
	right:0;
	font-size: 0.4em;
	letter-spacing: 0.5em;
	font-weight: 100;
	color: #fff7e2;
}
.page.p0 .cont_outer .cont_inner .section.sec0 .stxt{
	position:absolute;
	display:inline-block;
	top:215px; 
	left:0;
	height:200px;
	width:100%;
	color: #f6be15;
	font-size: 3vw; 
	line-height: 1.5em;
}
.page.p0 .cont_outer .cont_inner .section.sec1 .stxt{
	top:160px;
	left:400px;
	height:90px;
	width:100%;
	font-size: 1vw;
	opacity: 0.5;
	filter: blur(1px);
	color:#c4c4c4;
	line-height: 1.2em;
}
.page.p0 .cont_outer .cont_inner .section.sec2 .stxt{
	top:80px;
	left:550px;
	height:90px;
	width:100%;
	font-size: .7vw;
	opacity: 0.3;
	filter: blur(1.5px);
	color:#c4c4c4;
	line-height: 1em;
}
.page.p0 .cont_outer .cont_inner .section.sec3 .stxt{
	top:500px;
	left:-550px;
	height:90px;
	width:100%;
	font-size: .7vw;
	opacity: 0.3;
	filter: blur(1.5px);
	color:#c4c4c4;
	line-height: 1em;
}
.page.p0 .cont_outer .cont_inner .section.sec4 .stxt{
	top:420px;
	left:-400px;
	height:90px;
	width:100%;
	font-size: 1vw;
	opacity: 0.5;
	filter: blur(1px);
	color:#c4c4c4;
	line-height: 1.2em;
}

.page.p0 .cont_outer .cont_inner .section.sec0 .stxt.main {
	font-size:4vw;
	line-height: 1.3em;
	margin-top:-30px;
}
.page.p0 .cont_outer .cont_inner .section.sec4 .stxt.main {
}
.page.p0 .cont_outer .cont_inner .section .stxt.t1,
.page.p0 .cont_outer .cont_inner .section .stxt.t2,
.page.p0 .cont_outer .cont_inner .section .stxt.t3,
.page.p0 .cont_outer .cont_inner .section .stxt.t4 {
	font-family: 'SpoqaHanSansNeoRegular';
}


/* 2페이지 */

.page.p1 {margin-top:-350px;}

.page.p1 .wrap_outer{
	height:920px; border:1px solid #1D1AF4;
}
.page.p1 .pfwrap {
	position:relative;
	width:1280px;
	height:500px;
	left:50%;
	margin:345px 0 0 -640px;
	display: flex; 
	justify-content: space-between;
}
.page.p1 .pfwrap .grid {
	flex:1;
	padding-left:70px;
	background: #fff;
	z-index: 999;
}
.page.p1 .pfwrap .grid .stxt {
}
.page.p1 .pfwrap .grid:nth-child(1) {
	flex:none; 
	width: 250px; 
	padding:0;
}
.page.p1 .pfwrap .grid:nth-child(2) {
	padding-left:100px;
}
.page.p1 .pfwrap .grid:nth-child(3) { }
.page.p1 .pfwrap .grid:nth-child(4) { }

.page.p1 .pfwrap .grid .namebox .stxt {
	line-height:28px;
}
.page.p1 .pfwrap .grid .hd3 {
	margin-top:33px;
}
.page.p1 .pfwrap .grid .stxt.pf {
	width:280px; height:126px;
	margin:20px 0 92px;
	line-height:26px;
}
.page.p1 .pfwrap .grid .stxt.pf .par {
	display:block; margin-bottom:10px;
}
.page.p1 .pfwrap .grid.ty1 .pfimg {
	display:inline-block;
	box-shadow:7px 1px 30px #ababab;
}
.page.p1 .pfwrap .grid.ty1 .namebox {margin:34px 0 0 29px;}
.page.p1 .pfwrap .grid.ty1 .namebox .stxt {margin-top:23px;}

.skill_list{
	position: relative;
	top: 0;
	left: 0;
}
.skill {
	display: flex;
	justify-content: space-between;
	width: 200px;
	height: 30px;
	line-height: 30px;
	align-items: center;
}
.bar {
	width: 100px;
	height: 10px;
	overflow: hidden;
}
.full {
	float: left;
	height: 100%;
	width: 20px;
}

.bar .full:nth-child(1) {background-color: #000;}
.bar .full:nth-child(2) {background-color: #000;}
.bar .full:nth-child(3) {background-color: #000;}
.bar .full:nth-child(4) {background-color: #ccc;}
.bar .full:nth-child(5) {background-color: #ccc;}

.page.p2{
	margin-top:-160px;
	height:1489px; 
	background:url('../img/bg2.png') no-repeat center;
	background-size:cover;
	z-index:0;
}



.page.p2 .grid_outer {
	position:relative;
	left:50%; margin-left:-640px;
	height:785px; width:1280px;
	top:270px;
}
.page.p2 .grid_outer .pgrid {
	position:absolute;
	left:22px; width:267px;
}
.page.p2 .grid_outer .pgrid .tit_img {
	margin:0 0 30px 11px;
}
.page.p2 .grid_outer .pgrid .weblogo {
	margin:0 0 110px 11px;
}
.page.p2 .grid_outer .pgrid .weblogo img {
	width:200px;
}
.page.p2 .grid_outer .pgrid dl {
}
.page.p2 .grid_outer .pgrid dl dt {
	margin-bottom:9px;
}
.page.p2 .grid_outer .pgrid dl dd {
	margin-bottom:15px;
}
.page.p2 .grid_outer .pgrid dl dd .circle {
	display:inline-block; height:22px; width:22px;
	border-radius:75px; background:#f00;
}
.page.p2.t1 .grid_outer .pgrid dl dd .circle.ty1 {
	background: #fff;
	border: 1px solid #000;
}
.page.p2.t1 .grid_outer .pgrid dl dd .circle.ty2 {
	background: #000;
}
.page.p2.t2 .grid_outer .pgrid dl dd .circle.ty1 {

}
.page.p2.t2 .grid_outer .pgrid dl dd .circle.ty2 {

}

.page.p2 .grid_outer .pgrid .btnset{
	display:inline-block;
	position:relative;
	margin:3px 0 0 -15px;
}
.page.p2 .grid_outer .pgrid .btnset .btn {
	position:absolute;
	height:32px;
	display:inline-block;
	background:url('../img/brush_btn.png') no-repeat 0 0;
	background-size:auto 32px;
	vertical-align:middle;
}
.page.p2 .grid_outer .pgrid .btnset .btn > a {
	display: block;
	height: 100%;
	z-index: 50;
}
.page.p2 .grid_outer .pgrid .btnset .btn.detailview {
	width:133px;
	background-position:0 0;
	left:0px;
	top:0px;
}
.page.p2 .grid_outer .pgrid .btnset .btn.movepage {
	width:146px;
	background-position:-133px 0;
	left:145px;
	top:0px;
}
.page.p2 .grid_outer .mgrid {
	position:absolute;
	left:300px; height: 785px;
}
.page.p2 .grid_outer .mgrid .mockup_wrap {}
.page.p2 .grid_outer .mgrid .mockup_wrap > img {
	position: absolute;
	top: 250px;
	width: 1080px;
}

.page.p2.t2{
	margin-top:-360px;
	height:1489px;
	background:url('../img/bg2.png') no-repeat center;
	background-size:cover;
	z-index:0;
}

