/*tab*/
.play-tab {}
.rent-tab {}


/*sw*/
.rh_logo {
	width: 5em;
}
.navbar-absolute-top .navbar-brand-center {position: absolute; width:100px; margin-left: 50%; left: -50px; padding-left: 0; padding-top: 16px;}
.navbar-absolute-top .navbar-brand-center > img {}

.nav-tabs::after {content:""; display: block; clear: both}
.scrollable.fixed {position:relative}
.scrollable.fixed .section {margin:0; width: inherit; border:none; background: transparent; padding:0}

.nav-tabs.ty1 {display:flex; background:#1b1b1b}
.nav-tabs.ty1 > li {float:none; flex:1}
.nav-tabs.ty1 > li > a {text-align:center; color:rgba(255,255,255,.7)}
.nav-tabs>li>a:hover,
.nav-tabs.ty1 > li.active > a, .nav-tabs.ty1 > li.active > a:focus {border:none; background:none; color:#fff}

/*playtab*/

.swiper-container.play {
	margin: 0 20px;
	width: inherit;
}
.swiper-wrapper.play-wrap {

}
.swiper-wrapper .swiper-slide.play-pt {}
.swiper-wrapper .swiper-slide.play-pt.swiper-slide-next {
}
.swiper-wrapper .swiper-slide.play-pt.swiper-slide-active {
	margin: 1px;
}

.swiper-wrapper .swiper-slide .simg {
	display: block;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
}
.swiper-wrapper .swiper-slide .simg > img {
	width: 100%;
}

.swiper-wrapper .swiper-slide .play-flex {
	display: flex;
	height: 7em;
	justify-content: space-between;
	align-items: center;
}
.swiper-wrapper .swiper-slide .play-flex .play-name {
	display: inline-block;
	height: 60px;
	width: inherit;
	font-size: 25px;
	line-height: 22px;
	margin-left: 5px;
}
.swiper-wrapper .swiper-slide .play-flex .play-name .play-date {
	display: block;
	font-size: 12px;
}

.swiper-wrapper .swiper-slide .play-flex .play-btn {
	width: 78px; 
	height: 24px; 
	border-radius: 5px;
	overflow: hidden;
}
.swiper-wrapper .swiper-slide .play-flex .play-btn > a {
	display: block; 
	color: #fff;
	background: #1b1b1b;
	height: 100%;
	text-align: center;
	line-height: 2em;
}
.swiper-pagination.play {
	position: relative;
	top:-9em;
	z-index: 100;
	text-align: end;
	padding-right: 1em;
}



.play-bg {
	width: 100%; 
	height: 100vw; 
	background: #1b1b1b; 
	position: absolute; 
	top: 0; 
	left: 0; 
}

/*renttab*/
.rent-wrap {
	margin: 0 20px;
	width: inherit;
	height: 100%;
}
.rent-wrap .rent-list {
	width: 100%;
	height: inherit;
	background: #fff;
	margin-top: 1em;
	border-radius: 1em;
}

.rent-wrap .rent-list:first-child {
	margin-top: 2.6em;
}

.rent-wrap .rent-list > h2 {
	font-size: 15pt;
	padding: 10px;
}
.rent-wrap .rent-list > h2 > span {
	color: rgb(0,0,0,0.5);
	display: block;
	font-size: 12px;
}
.rent-wrap .rent-list > ul {
	
}
.rent-wrap .rent-list > ul > li {
	padding: 10px;
}
.rent-wrap .rent-list > ul > li > a {
	display: block; height: 100%;
}
.rent-wrap .rent-list > ul > li > a > span {
	
}
.rent-wrap .rent-list > ul > li > a > h3 {
	
}

.rent-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	background: #e5e5e5;
	z-index: -1;
	border-top: 6em solid #1b1b1b;
}

.ui-header {
	z-index: 10;
	height: 3rem;
	background-color: #1b1b1b;
	border: none;
}
 
ul.tabs {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
	justify-content: space-between;
    height: 32px;
    width: 100%;
}
ul.tabs li {
    text-align:center;
    cursor: pointer;
    width:50%;
    height: 3em;
    line-height: 3rem;
    background: #1b1b1b;
    overflow: hidden;
    position: relative;
	z-index: 10;
	color: #ccc;
}
ul.tabs li.active {
	color: #fff;
}

.tab_container {
    border: 1px solid #eee;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
}
.tab_content {
    padding: 5px;
    font-size: 12px;
    display: none;
	overflow: hidden;
}
.tab_container .tab_content ul {
    width:100%;
    margin:0px;
    padding:0px;
}
.tab_container .tab_content ul li {
    padding:5px;
    list-style:none
}
 #container {
    width: 100%;
    margin: 0 auto;
}