/* 공통 */
*{
	box-sizing: border-box;
	font-family: 'KoPubWorld Dotum Medium';
}
a{text-decoration: none;}

.no-drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}

#loading { 
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0; 
	position: fixed; 
	display: block; 
	opacity: 0.8; 
	background-color: #fff; 
	z-index: 400; 
	text-align: center; 
} 
#loading-image { 
	position: absolute; 
	top: 50%; 
	left: 50%;
	width: 150px;
	transform: translate( -50%, -50%);
	z-index: 500; 
}

.container {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

/* 네비게이션 */
.nav_sec {
	font-size: 5vw;
	width: 200vw;
	height: 100vh;
	position: fixed;
	left: 0;
	right: 0;
	display: flex;
	justify-content: flex-end;
	transition:all .4s ease-in-out;
	border: 1px solid #f00;
	z-index: 888;
	visibility: hidden;
}
.nav_sec.on {
	visibility: visible;
	width: 100vw;
}
.nav_sec .nav_btn.gnb {
	width: 1.5em;
	height: 1.5em;
	margin-top: .6em;
	margin-right: 1em;
	background: url("../img/btn_gnb_close.png") no-repeat;
	background-size: cover;
	z-index: 999;
	animation: navbtnanirev 1s linear 1;
	animation-direction: reverse;
	animation-fill-mode: backwards;
}
.nav_sec.on .nav_btn.gnb {
	animation: navbtnani 1s linear 1;
}

@keyframes navbtnani {
	0% {transform: rotate(0deg); opacity: 0}
	50% {transform: rotate(90deg)}
	100% {transform: rotate(180deg); opacity: 1;}
}
@keyframes navbtnanirev {
	0% {transform: rotate(0deg);}
	50% {transform: rotate(0deg)}
	100% {transform: rotate(180deg);}
}

.nav_sec .nav {
	width: 70vw;
	height: 100%;
	background: #1b1b1b; 
	z-index: 999;
	font-size: 4vw;
}
.bg_nav {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #1b1b1b;
	display: none;
}
.bg_nav.on {
	display: block;
	opacity: .5;
}

/* 헤더 */
.header {
	position: sticky;
	top: 0;
	left: 0;
	background: #1b1b1b;
	font-size: 5vw;
	z-index: 100;
}
.header_inner {
	height: 2.4em;
	line-height: 2.4em;
}
.header_inner .logo_main {
	position: relative;
	left: 50%;
	margin-left: -10vw;
	width: 20vw;
	height: 100%;
}
.header_inner .logo_main > img{
	width: 100%;
}
.header_inner ul.nav_btn.head {
	position: fixed;
	top: .6em;
	right: .8em;
}
.header_inner ul > li {
	width: 1.5em;
	height: .2em;
	background: #fff;
	margin-bottom: .25em;
	border-radius: .1em;
}
/* 탭메뉴 */
.tab_wrapper {
}


.tab_wrapper ul.tab_menu {
	display: flex;
	height: 2.4em;
	line-height: 2.4em;
	text-align: center;
}
.tab_wrapper > ul > li {
	width: 50%;
	font-family: 'KoPubWorld Dotum Bold';
	font-weight: 400;
}
.tab_wrapper ul.tab_menu li.tab_play{
	color: #fff;
}
.tab_wrapper ul.tab_menu li.tab_rent{
	color: #777;
}

/* 공연탭 */
.swiper-container {
	width: 90vw;
	font-size: 4.5vw;
}
.swiper-wrapper {
}
.swiper-wrapper .swiper-slide {}
.swiper-wrapper .swiper-slide.swiper-slide-active {}
.swiper-wrapper .swiper-slide .simg {
	display: block;
	height: 120vw;
	border-radius: 1em;
	overflow: hidden;
}
.swiper-wrapper .swiper-slide .simg > img {
	width: 100%;
}

.swiper-wrapper .swiper-slide .play-flex {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 20vw;
	line-height: 8vw;
}
.swiper-wrapper .swiper-slide .play-flex .play-name {
	height: 100%;
	width: 68vw;
	font-size: 1.8em;
	letter-spacing: -.1em;
	font-weight: 300;
	padding-top: .3em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.swiper-wrapper .swiper-slide .play-flex .play-name .play-date {
	display: block;
	margin-left: .3em;
	font-size: .5em;
	letter-spacing: 0;
}

.swiper-wrapper .swiper-slide .play-flex .play-btn {
	width: 5em; 
	height: 1.6em; 
	border-radius: .3em;
	background: #1b1b1b;
	margin-bottom: .8em; 
	text-align: center;
	line-height: 1.7em;
	overflow: hidden;
}
.swiper-wrapper .swiper-slide .play-flex .play-btn > a {
	display: block; 
	height: 100%;
	color: #fff;
	font-family: 'KoPubWorld Dotum Light';
	font-weight: 100;
}
.swiper-pagination.play {
	position: relative;
	top: -28vw;
	text-align: right;
	padding-right: 1em;
	margin-bottom: 1em;
}

.bg_play {
	position: fixed;
	top: 0;
	left: 0;
	background: #1b1b1b;
	height: 60%;
	width: 100%;
	max-height: 1000px;
	z-index: -1;
}

/* 대관탭 */
.rent-wrap {
	margin: 5vw;
	width: inherit;
	height: 100%;
}
.rent-wrap .rent-list {
	width: 100%;
	background: #fff;
	font-size: 4vw;
	border-radius: 3vw;
	margin: 1em 0;
	box-shadow: .1em .1em .3em .1em #ccc;
}
.rent-wrap .rent-list > h2 {
	font-weight: 500;
	font-size: 1.2em;
	padding: 1em;
}
.rent-wrap .rent-list > h2 > span {
	color: rgb(0,0,0,0.5);
	display: block;
	font-size: .7em;
}
.rent-wrap .rent-list > ul {
}
.rent-wrap .rent-list > ul > li {
	border-top: 2px solid #ccc;
	height: 3.8em;
	line-height: 3.8em;
}
.rent-wrap .rent-list > ul > li > a {
	display: block; 
	height: 100%;
}
.rent-wrap .rent-list > ul > li > a > img {
	margin-left: 1.5em;
	margin-bottom: .3em;
	width: 1.5em;
	height: 1.5em;
}
.rent-wrap .rent-list > ul > li > a > h3 {
	display: inline-block;
	margin-left: 1.5em;
	font-weight: 500;
}

.bg_rent {
	background: #e5e5e5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.bg_pc {
	display: none;
}
@media (min-width: 1025px) {
	#loading-image { 
		width: 70px;
	}
	.bg_pc {
		background: #1b1b1b;
		display: block;
		height: 100vh;
	}
	.container::before{
		content: "";
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		z-index: -200;
	}
	.container {
		width: 375px;
		height: 667px;
		position:fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		overflow: auto;
		-ms-overflow-style: none;
		border: 5px solid #fff;
		z-index: 1;
	}
	.container::-webkit-scrollbar {
		display: none;
	}
	
	/* 헤더 */
	.header {
		position: sticky;
		top: 0;
		left: 0;
		background: #1b1b1b;
		z-index: 100;
	}
	.header_inner {
		display: flex;
		justify-content: center;
		height: 50px;
		line-height: 50px;
	}
	.header_inner .logo_main {
		width: 80px;
		height: 100%;
	}
	.header_inner .logo_main > img{
		width: 100%;
	}
	.header_inner .btn_wrap {
	}

	/* 탭메뉴 */
	.tab_wrapper {
	}
	.tab_wrapper ul.tab_menu {
		height: 50px;
		font-size: 12pt;
		line-height: 50px;
	}
	.tab_wrapper > ul > li {
		width: 50%;
		font-family: 'KoPubWorld Dotum Bold';
		font-weight: 400;
	}
	.tab_wrapper > ul > li:hover {
		cursor: pointer;
	}
	.tab_wrapper ul.tab_menu li.tab_play{
		color: #fff;
	}
	.tab_wrapper ul.tab_menu li.tab_rent{
		color: #777;
	}

	/* 공연탭 */
	.swiper-container {
		width: 340px;
		font-size: .8vw;
	}
	.swiper-wrapper {
	}
	.swiper-wrapper .swiper-slide {}
	.swiper-wrapper .swiper-slide.swiper-slide-active {}
	.swiper-wrapper .swiper-slide .simg {
		display: block;
		height: 450px;
		border-radius: 10px;
		overflow: hidden;
	}
	.swiper-wrapper .swiper-slide .simg > img {
		width: 100%;
	}

	.swiper-wrapper .swiper-slide .play-flex {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		height: 4vw;
		line-height: 2em;
	}
	.swiper-wrapper .swiper-slide .play-flex .play-name {
		height: 100%;
		width: 250px;
		font-size: 20pt;
		letter-spacing: -.1em;
		font-weight: 300;
		padding-top: .3em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.swiper-wrapper .swiper-slide .play-flex .play-name .play-date {
		display: block;
		margin-left: .3em;
		font-size: 10pt;
		letter-spacing: 0;
	}

	.swiper-wrapper .swiper-slide .play-flex .play-btn {
		width: 70px; 
		height: 25px; 
		border-radius: .3em;
		background: #1b1b1b;
		margin-bottom: .8em; 
		text-align: center;
		line-height: 25px;
		overflow: hidden;
	}
	.swiper-wrapper .swiper-slide .play-flex .play-btn > a {
		display: block; 
		height: 100%;
		color: #fff;
		font-family: 'KoPubWorld Dotum Light';
		font-weight: 100;
		font-size: 1.1em;
	}
	.swiper-pagination.play {
		position: relative;
		top: -85px;
		text-align: right;
		padding-right: 1em;
		margin-bottom: 1em;
	}

	.bg_play {
		position: absolute;
		top: 0;
		left: 0;
		background: #1b1b1b;
		height: 60%;
		width: 100%;
		z-index: -100;
	}

	/* 대관탭 */
	.rent-wrap {
		margin: 1vw;
		width: inherit;
		height: 100%;
	}
	.rent-wrap .rent-list {
		width: 100%;
		background: #fff;
		font-size: 12pt;
		border-radius: 10pt;
	}
	.rent-wrap .rent-list > h2 {
		font-weight: 500;
		font-size: 1.2em;
		padding: 1em;
	}
	.rent-wrap .rent-list > h2 > span {
		color: rgb(0,0,0,0.5);
		display: block;
		font-size: 10pt;
	}
	.rent-wrap .rent-list > ul {
	}
	.rent-wrap .rent-list > ul > li {
		border-top: 2px solid #ccc;
		height: 3.8em;
		line-height: 3.8em;
	}
	.rent-wrap .rent-list > ul > li > a {
		display: block; 
		height: 100%;
	}
	.rent-wrap .rent-list > ul > li > a > img {
		margin-left: 1.5em;
		margin-bottom: .3em;
		width: 1.5em;
		height: 1.5em;
	}
	.rent-wrap .rent-list > ul > li > a > h3 {
		display: inline-block;
		margin-left: 1.5em;
		font-weight: 500;
	}

	.bg_rent {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 955px;
		z-index: -100;
	}
}