/* 공통 */
*{
	box-sizing: border-box;
	font-family: 'KoPubWorld Dotum Medium';
}
a{text-decoration: none;}

.no-drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}

/* 헤더 */
.header {
	position: sticky;
	top: 0;
	left: 0;
	background: #1b1b1b;
	z-index: 100;
}
.header_inner {
	display: flex;
	justify-content: center;
	height: 10vw;
	line-height: 10vw;
}
.header_inner .logo_main {
	width: 20vw;
	height: 100%;
}
.header_inner .logo_main > img{
	width: 100%;
}
.header_inner .btn_wrap {
}

/* 탭메뉴 */
.tab_wrapper {
	margin-bottom: 5vw;
}
.tab_wrapper ul.tab_menu {
	display: flex;
	height: 10vw;
	font-size: 4.5vw;
	line-height: 10vw;
	text-align: center;
}
.tab_wrapper > ul > li {
	width: 50%;
	font-family: 'KoPubWorld Dotum Bold';
	font-weight: 400;
}
.tab_wrapper ul.tab_menu li.tab_play{
	color: #fff;
}
.tab_wrapper ul.tab_menu li.tab_rent{
	color: #777;
}

/* 공연탭 */
.swiper-container {
	width: 90vw;
	font-size: 4vw;
}
.swiper-wrapper {
}
.swiper-wrapper .swiper-slide {}
.swiper-wrapper .swiper-slide.swiper-slide-active {}
.swiper-wrapper .swiper-slide .simg {
	display: block;
	height: 120vw;
	border-radius: 10px;
	overflow: hidden;
}
.swiper-wrapper .swiper-slide .simg > img {
	width: 100%;
}

.swiper-wrapper .swiper-slide .play-flex {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 20vw;
	line-height: 2em;
}
.swiper-wrapper .swiper-slide .play-flex .play-name {
	height: 100%;
	width: 68vw;
	font-size: 1.8em;
	letter-spacing: -.1em;
	font-weight: 300;
	padding-top: .3em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.swiper-wrapper .swiper-slide .play-flex .play-name .play-date {
	display: block;
	margin-left: .3em;
	font-size: .5em;
	letter-spacing: 0;
}

.swiper-wrapper .swiper-slide .play-flex .play-btn {
	width: 5em; 
	height: 1.6em; 
	border-radius: .3em;
	background: #1b1b1b;
	margin-bottom: .8em; 
	text-align: center;
	line-height: 1.7em;
	overflow: hidden;
}
.swiper-wrapper .swiper-slide .play-flex .play-btn > a {
	display: block; 
	height: 100%;
	color: #fff;
	font-family: 'KoPubWorld Dotum Light';
	font-weight: 100;
}
.swiper-pagination.play {
	position: relative;
	top: -28vw;
	text-align: right;
	padding-right: 1em;
	margin-bottom: 1em;
}

.bg_play {
	position: fixed;
	top: 0;
	left: 0;
	background: #1b1b1b;
	height: 60%;
	width: 100%;
	max-height: 1000px;
	z-index: -1;
}

/* 대관탭 */
.rent-wrap {
	margin: 5vw;
	width: inherit;
	height: 100%;
}
.rent-wrap .rent-list {
	width: 100%;
	background: #fff;
	font-size: 4vw;
	border-radius: 3vw;
	margin: 1em 0;
	box-shadow: .1em .1em .3em .1em #ccc;
}
.rent-wrap .rent-list > h2 {
	font-weight: 500;
	font-size: 1.2em;
	padding: 1em;
}
.rent-wrap .rent-list > h2 > span {
	color: rgb(0,0,0,0.5);
	display: block;
	font-size: .7em;
}
.rent-wrap .rent-list > ul {
}
.rent-wrap .rent-list > ul > li {
	border-top: 2px solid #ccc;
	height: 3.8em;
	line-height: 3.8em;
}
.rent-wrap .rent-list > ul > li > a {
	display: block; 
	height: 100%;
}
.rent-wrap .rent-list > ul > li > a > img {
	margin-left: 1.5em;
	margin-bottom: .3em;
	width: 1.5em;
	height: 1.5em;
}
.rent-wrap .rent-list > ul > li > a > h3 {
	display: inline-block;
	margin-left: 1.5em;
	font-weight: 500;
}

.bg_rent {
	background: #e5e5e5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.bg_pc {
	display: none;
}

@media (min-width: 1025px) {
	.bg_pc{
		z-index: -50;
		position: fixed;
		display: block;
		top: 50%;
		left: 50%;
		margin-top: -438px;
		margin-left: -218px;
		height: 872px;
		width: 434px;
	}
	.container::before{
		content: "";
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #1b1b1b;
		z-index: -200;
	}
	.container {
		width: 375px;
		height: 667px;
		position: relative;
		top: 50%;
		left: 50%;
		margin-top: -333.5px;
		margin-left: -187.5px;
		overflow: auto;
		-ms-overflow-style: none;
		border: 2px solid #ccc;
	}
	.container::after{
		content: "";
		display: block;
		position: absolute;
		background: #fff;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -120;
	}
	.container::-webkit-scrollbar {
		display: none;
	}
	
	/* 헤더 */
	.header {
		position: sticky;
		top: 0;
		left: 0;
		background: #1b1b1b;
		z-index: 100;
	}
	.header_inner {
		display: flex;
		justify-content: center;
		height: 40px;
		line-height: 40px;
	}
	.header_inner .logo_main {
		width: 80px;
		height: 100%;
	}
	.header_inner .logo_main > img{
		width: 100%;
	}
	.header_inner .btn_wrap {
	}

	/* 탭메뉴 */
	.tab_wrapper {
		margin-bottom: 1vw;
	}
	.tab_wrapper ul.tab_menu {
		display: flex;
		height: 40px;
		font-size: 12pt;
		line-height: 2vw;
		text-align: center;
	}
	.tab_wrapper > ul > li {
		width: 50%;
		font-family: 'KoPubWorld Dotum Bold';
		font-weight: 400;
	}
	.tab_wrapper > ul > li:hover {
		cursor: pointer;
	}
	.tab_wrapper ul.tab_menu li.tab_play{
		color: #fff;
	}
	.tab_wrapper ul.tab_menu li.tab_rent{
		color: #777;
	}

	/* 공연탭 */
	.swiper-container {
		width: 340px;
		font-size: .8vw;
	}
	.swiper-wrapper {
	}
	.swiper-wrapper .swiper-slide {}
	.swiper-wrapper .swiper-slide.swiper-slide-active {}
	.swiper-wrapper .swiper-slide .simg {
		display: block;
		height: 450px;
		border-radius: 10px;
		overflow: hidden;
	}
	.swiper-wrapper .swiper-slide .simg > img {
		width: 100%;
	}

	.swiper-wrapper .swiper-slide .play-flex {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		height: 4vw;
		line-height: 2em;
	}
	.swiper-wrapper .swiper-slide .play-flex .play-name {
		height: 100%;
		width: 250px;
		font-size: 20pt;
		letter-spacing: -.1em;
		font-weight: 300;
		padding-top: .3em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.swiper-wrapper .swiper-slide .play-flex .play-name .play-date {
		display: block;
		margin-left: .3em;
		font-size: 10pt;
		letter-spacing: 0;
	}

	.swiper-wrapper .swiper-slide .play-flex .play-btn {
		width: 70px; 
		height: 25px; 
		border-radius: .3em;
		background: #1b1b1b;
		margin-bottom: .8em; 
		text-align: center;
		line-height: 25px;
		overflow: hidden;
	}
	.swiper-wrapper .swiper-slide .play-flex .play-btn > a {
		display: block; 
		height: 100%;
		color: #fff;
		font-family: 'KoPubWorld Dotum Light';
		font-weight: 100;
		font-size: 1.1em;
	}
	.swiper-pagination.play {
		position: relative;
		top: -85px;
		text-align: right;
		padding-right: 1em;
		margin-bottom: 1em;
	}

	.bg_play {
		position: absolute;
		top: 0;
		left: 0;
		background: #1b1b1b;
		height: 60%;
		width: 100%;
		z-index: -100;
	}

	/* 대관탭 */
	.rent-wrap {
		margin: 1vw;
		width: inherit;
		height: 100%;
	}
	.rent-wrap .rent-list {
		width: 100%;
		background: #fff;
		font-size: 12pt;
		border-radius: 10pt;
	}
	.rent-wrap .rent-list > h2 {
		font-weight: 500;
		font-size: 1.2em;
		padding: 1em;
	}
	.rent-wrap .rent-list > h2 > span {
		color: rgb(0,0,0,0.5);
		display: block;
		font-size: 10pt;
	}
	.rent-wrap .rent-list > ul {
	}
	.rent-wrap .rent-list > ul > li {
		border-top: 2px solid #ccc;
		height: 3.8em;
		line-height: 3.8em;
	}
	.rent-wrap .rent-list > ul > li > a {
		display: block; 
		height: 100%;
	}
	.rent-wrap .rent-list > ul > li > a > img {
		margin-left: 1.5em;
		margin-bottom: .3em;
		width: 1.5em;
		height: 1.5em;
	}
	.rent-wrap .rent-list > ul > li > a > h3 {
		display: inline-block;
		margin-left: 1.5em;
		font-weight: 500;
	}

	.bg_rent {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 955px;
		z-index: -100;
	}
}