@charset 'utf-8';

html {
	font-family: 'Apple SD Gothic Neo', Roboto, 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
	line-height: 1.2;
	word-wrap: break-word;
}
body {
	-webkit-font-smoothing: antialiased;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
div, span, article, section, header, footer, aside, p, ul, li, fieldset, legend, label, a, nav, form {
	box-sizing: border-box;
}
ol, ul, li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
}
button {
	border: 0;
	background: transparent;
	cursor: pointer;
}

@font-face {
    font-family: 'KBIZHanmaumMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KBIZHanmaumMyungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
 font-family: 'NanumMyeongjo';
 font-style: normal;
 font-weight: 400;
 src: local('Nanum Barun Myeongjo Regular'), local('Nanum Barun Myeongjo-Regular'), local('NanumMyeongjo Regular');
 src: url("../font/NanumMyeongjo.eot");
 src: url("../font/NanumMyeongjo.eot?#iefix") format('embedded-opentype'),
url("../font/NanumMyeongjo.woff") format('woff'),
url("../font/NanumMyeongjo.ttf") format('truetype');
}
@font-face {
 font-family: 'NanumMyeongjo';
 font-style: bold;
 font-weight: 400;
 src: local('Nanum Barun Myeongjo Bold'), local('Nanum Barun Myeongjo-Bold'), local('NanumMyeongjo Bold');
 src: url("../font/NanumMyeongjoBold.eot");
 src: url("../font/NanumMyeongjoBold.eot?#iefix") format('embedded-opentype'),
url("../font/NanumMyeongjoBold.woff") format('woff'),
url("../font/NanumMyeongjoBold.ttf") format('truetype');
}
@font-face {
 font-family: 'HanSerifKR';
 font-style: bold;
 font-weight: normal;
 src: url("../font/SourceHanSerifKR-SemiBold_subset.eot");
 src: url("../font/SourceHanSerifKR-SemiBold_subset.eot?#iefix") format('embedded-opentype'),
url("../font/SourceHanSerifKR-SemiBold_subset.woff") format('woff'),
url("../font/SourceHanSerifKR-SemiBold_subset.woff2") format('woff2'),
url("../font/SourceHanSerifKR-SemiBold_subset.ttf") format('truetype');
}
@font-face {
 font-family: 'HanSerifKR';
 font-style: normal;
 font-weight: normal;
 src: url("../font/SourceHanSerifKR-Regular_subset.eot");
 src: url("../fontSourceHanSerifKR-Regular_subset.eot?#iefix") format('embedded-opentype'),
url("../font/SourceHanSerifKR-Regular_subset.woff") format('woff'),
url("../font/SourceHanSerifKR-Regular_subset.woff2") format('woff2'),
url("../font/SourceHanSerifKR-Regular_subset.ttf") format('truetype');
}